* {
  box-sizing: border-box;
  font-family: Montserrat;
}
body {
  background-image: linear-gradient(
    90deg,
    rgb(84, 84, 187) 5%,
    rgb(52, 52, 54)
  );
  /* background-image: radial-gradient(center, blue, black); */
  /* background-size: cover; */
}
#landing {
  height: 90vh;
  /* border: 2px solid white; */
}
nav {
  width: 500px;
  /* position: fixed; */
  margin: 1rem 33%;
  padding-block: 0.9rem;
  border: 1px solid rgb(217, 211, 211);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  gap: 1.8rem;
}
.navLinks {
  font-size: 13pt;
  color: rgb(158, 224, 208);
  text-decoration: none;
  transition: color 100ms ease-in;
}
.navLinks:hover {
  color: black;
}
#landing h2 {
  margin-top: 5rem;
  margin-bottom: -1rem;
}
#about_us {
  text-align: center;
}
#about_card {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
#about_text {
  /* border: 2px solid yellow; */
  width: 550px;
  font-size: 15pt;
  word-spacing: 0.1rem;
  letter-spacing: 0.6px;
  line-height: 1.5;
  padding-block: 1.7rem;
  padding-inline: 0.75rem;
}
#about_avatar {
  border: 2px solid green;
  width: 350px;
  height: 350px;
  border-radius: 36% 78% 78% 36%/38% 38% 70% 70%;
  box-shadow: 3px 3px 15px grey;
  transition: transform 800ms ease-out;
}
#about_avatar:hover {
  transform: scale(1.1);
}
#about_avatar img {
  width: 100%;
  height: 100%;
  border-radius: 36% 78% 78% 36%/38% 38% 70% 70%;
}
#service_container {
  display: flex;
  flex-direction: column;
}
#service_cards {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.service_card {
  width: 280px;
  background-color: #6db5ca;
  border: 2px solid red;
  border-radius: 5px;
}
.service_avatar {
  width: 277px;
  border-radius: 5px;
  overflow: hidden;
  /* border: 2px solid yellow; */
}
.service_avatar img {
  width: 100%;
  border-radius: 5px;
  transition: all 400ms ease-out;
  /* border: 2px solid wheat; */
}
.service_avatar img:hover {
  transform: scale(1.2);
}

@media (max-width: 570px) {
  nav {
    /* collapse nav bar and show nav menu */
    /* display: none; */
  }
}
