* {
  box-sizing: border-box;
  font-family: Montserrat;
}
body {
  background-image: linear-gradient(
    90deg,
    rgb(27, 27, 108) 5%,
    rgb(29, 29, 32)
  );
  /* background-image: radial-gradient(center, blue, black); */
  /* background-size: cover; */
}
nav {
  width: 500px;
  margin: 1rem auto;
  padding-block: 0.9rem;
  border: 1px solid rgb(217, 211, 211);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  gap: 1.8rem;
}
nav a {
  font-size: 13pt;
  color: rgb(158, 224, 208);
  text-decoration: none;
}
