* {
  box-sizing: border-box;
  font-family: Montserrat;
}
body {
  background-image: linear-gradient(
    90deg,
    rgb(84, 84, 187) 5%,
    rgb(52, 52, 54)
  );
  /* background-image: radial-gradient(center, blue, black); */
  /* background-size: cover; */
}
#landing {
  height: 90vh;
  /* border: 2px solid white; */
}
nav {
  width: 500px;
  /* position: fixed; */
  margin: 1rem 33%;
  padding-block: 0.9rem;
  border: 1px solid rgb(217, 211, 211);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  gap: 1.8rem;
}
.navLinks {
  font-size: 13pt;
  color: rgb(158, 224, 208);
  text-decoration: none;
  transition: color 100ms ease-in;
}
.navLinks:hover {
  color: black;
}
#landing h2 {
  margin-top: 5rem;
  margin-bottom: -1rem;
}
#about_us {
  text-align: center;
  width: 200px;
  margin: 0 auto;
  box-sizing: border-box;
  transition: border-bottom 100ms ease;
  /* text-align: center; */
  /* border: 2px solid red; */
}
#about_card {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
#about_text {
  /* border: 2px solid yellow; */
  width: 550px;
  color: rgb(202, 216, 227);
  opacity: 0.9;
  font-size: 15pt;
  word-spacing: 0.1rem;
  letter-spacing: 0.6px;
  line-height: 1.5;
  padding-block: 1.7rem;
  padding-inline: 0.75rem;
}
#about_avatar {
  border: 2px solid green;
  width: 350px;
  height: 350px;
  border-radius: 36% 78% 78% 36%/38% 38% 70% 70%;
  box-shadow: 3px 3px 15px grey;
  transition: transform 800ms ease-out;
}
#about_avatar:hover {
  transform: scale(1.1);
}
#about_avatar img {
  width: 100%;
  height: 100%;
  border-radius: 36% 78% 78% 36%/38% 38% 70% 70%;
}
#service_container {
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
}
#services {
  text-align: center;
  padding-bottom: 2rem;
  width: 200px;
  padding: 0;
  margin: 3rem auto;
  transition: border-bottom 100ms ease;
}
#about_us:hover,
#services:hover {
  border-bottom: 2px solid rgb(13, 3, 3);
}
#service_cards {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.service_card {
  width: 280px;
  height: 330px;
  background-color: #6db5ca;
  /* border: 2px solid red; */
  border-radius: 5px;
}
.service_avatar {
  width: 277px;
  height: 150px;
  border-radius: 5px;
  overflow: hidden;
  /* border: 2px solid yellow; */
}
.service_avatar img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  transition: all 400ms ease-out;
  /* border: 2px solid wheat; */
}
.service_card:hover img {
  transform: scale(1.2);
}
.service_text {
  padding-inline: 0.3rem;
  /* font-family: Montserrat; */
  font-size: 12pt;
}
#contact_me {
  border-bottom: 2px solid black;
  /* border: none; */
  /* box-shadow: 0 1px 2px black; */
  width: 200px;
  margin: 2rem auto;
  text-align: center;
}
#contact form {
  display: flex;
  flex-direction: column;
  padding: 3rem;
}
#contact div {
  width: 70%;
  margin: 0 auto;
}
.inputs {
  min-height: 60px;
}
#contact textarea {
  height: 170px;
}
#contact button {
  width: 90px;
  transition: color, background-color var(--transition-slow);
  transition-timing-function: ease-out;
}
#about_us,
#services,
#contact_me {
  text-shadow: 2px 2px 2px solid gray;
}
#footer {
  height: 250px;
  background-color: rgb(10, 10, 50);
  /* background-color: #051b35; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align */
  text-align: center;
  padding-top: 1.75rem;
}
#footer h1 {
  color: #ffffff;
}
.socials {
  display: flex;
  width: 250px;
  margin: 0 auto;
  /* border: 2px solid rgb(212, 11, 11); */
  justify-content: space-around;
  border: none;
}
#footer .socials a {
  background: #ffffff;
  color: #2c3038;
  width: 35px;
  height: 35px;
  line-height: 34px;
  /* width: 40px; */
  /* height: 40px; */
  /* line-height: 40px; */
  border-radius: 3px;
  transition: color, background-color 500ms;
  transition-timing-function: ease-out;
  /* text-align: center; */
}
#footer .socials a:hover {
  background: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
}
@media (max-width: 570px) {
  nav {
    /* collapse nav bar and show nav menu */
    /* display: none; */
  }
}
